*.xcuserstate
*/xcuserdata/*
SnappyV2.xcodeproj/project.xcworkspace/xcuserdata/henrik.xcuserdatad/UserInterfaceState.xcuserstate
SnappyV2.xcodeproj/xcuserdata/henrik.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SnappyV2.xcodeproj/xcuserdata/Kevin.xcuserdatad/xcschemes/xcschememanagement.plist
SnappyV2.xcodeproj/xcuserdata/Kevin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
